<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44027690263-3hq1qbdehpq6of4l4j3q76oijt8ja0kq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44027690263-3hq1qbdehpq6of4l4j3q76oijt8ja0kq</string>
	<key>API_KEY</key>
	<string>AIzaSyDl33Ez6iCtAz_d57yQar9c4-7bMT2T04o</string>
	<key>GCM_SENDER_ID</key>
	<string>44027690263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.sardorbek.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-79537</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-79537.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44027690263:ios:4bd19764c51770e1a2cb52</string>
</dict>
</plist>